body * {
  font-family: "IBM Plex Sans KR", sans-serif !important;
  color: #333333;
  letter-spacing: -1px;
}

.container-1400 {
  max-width: 1400px;
  margin: 0 auto;
}

.container-1824 {
  max-width: 1824px;
  margin: 0 auto;
}