$mainColor : #FFEBB7;
$subColorBlue : #B5E1F9;
$subColorPurple : #D1CFFF;
$subColorPink : #F9D6D6;
$subColorGreen : #85BD91;
$subColorSoftBlue : #CDE6F9;
$pointColorPink : #FF7682;
$pointColorOrange : #FF9268;
$pointColorPurple : #A374C8;
$pointColorGreen : #8AE89F;
$pointColorBlue : #77C5FF;
$fontColorBlack : #333333;
$fontColorGray : #989797;
$fontColorSoftGray : #F2F2F2;
$fontColorDarkBeige : #B2A569;

body *{
    font-family: "IBM Plex Sans KR", sans-serif !important;
    color: #333333;
    letter-spacing: -1px;
}
.container-1400{
    max-width: 1400px;
    margin: 0 auto;
}
.container-1824{
    max-width: 1824px;
    margin: 0 auto;
}
